.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 150px;
  margin-top: 42px;
  .item {
    text-align: center;
    text-transform: capitalize;
    .title {
      font-weight: 400;
      font-size: 26px;
      line-height: 1.3;
      color: #786e6e;
    }
    .value {
      margin-top: 12px;
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
    }
  }
}
