@import '../../../scss/variables.scss';
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
  .item {
    text-align: center;
    text-transform: capitalize;
    .title {
      font-weight: 700;
      font-size: 26px;
      line-height: 1.3;
      color: $accent;
    }
    .value {
      margin-top: 12px;
      font-weight: 700;
      font-size: 26px;
      line-height: 30px;
    }
  }
}
