@import '../../scss/variables.scss';
.wrapper {
  padding: 36px 25px;
}
.table {
  border-radius: 10px;
  background-color: $darkpurple;
  &__item {
    padding: 17px 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    color: $white;
    &-head {
      border-bottom: 1px solid #511734;
    }
  }
}
table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  th {
    border-bottom: 1px solid $purple;
  }
  th,
  td {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 30px;
    &:first-child,
    &:nth-child(2) {
      border-right: 1px solid $purple;
    }
  }
}
