@import '../../scss/variables.scss';
.user {
  flex-grow: 1;
  margin-top: 1.7rem;
  min-height: 121px;
  text-align: center;
  &__name {
    margin-top: 1rem;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 40px 29px 0px 29px;
}
.item {
  text-align: center;

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    color: $white;
  }
  &__img {
    margin-top: 12px;
    border-radius: 10px;
    box-shadow: $bs-10;
  }
}
