$accent: #B53471;
$lightwhite: #F1E8E8;
$darkpurple: #310C24;
$lightblack: #1A0612;
$purple: #511734;
$white: rgba(241, 232, 232, 1);

$bs-accent: 0px 4px 4px rgba($accent, 0.25);
$bs-16: 0px 3px 6px rgba(0, 0, 0, 0.16);
$bs-10: 0px 3px 6px rgba(0, 0, 0, 0.1);