@import '../../scss/variables.scss';
.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &.other-page {
      border-radius: 0 0 10px 10px;
      box-shadow: $bs-accent;
    }

}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 36px;
  height: 100%;
  >h1 {
    text-transform: uppercase;
  }
}